<div class="wrapper">
    <div *ngFor="let stat of objectKeys(statService.stats)" class="stat">
        <div class="level">
            <img src="{{ '../../assets/icons/' + statService.stats[stat].image }}" alt="">
            <input type="text" class="boosted" size="3" [(value)]="statService.stats[stat].boosted">
            <span class="slash"><div></div></span>
            <input type="text" class="current" size="3" [value]="statService.stats[stat].level">
        </div>
        <div class="boost-selector">
            <button class="image" (click)="openDropdown(statService.stats[stat].name, $event)"></button>
        </div>
    </div>
</div>

<app-dropdown-selector
    (itemClicked)="useBoost($event)">
</app-dropdown-selector>