.wrapper {
    display: grid;
    grid-template-rows: 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
    grid-gap: 4px;
    height: 100%;

    .stat {
        display: grid;
        grid-template-columns: 4fr 1fr;
        grid-column-gap: 5px;
        color: #feff00;

        .level {
            display: grid;
            grid-template-columns: 1fr 1fr 1fr 1fr;
            background-image: url(../../../assets/icons/skill_background.png);
            background-size: 100% 100%;
            padding: 10px;
        }

        .boost-selector {
            width: 100%;
            height: 100%;
            background-size: contain;
            background-position: center center;
            margin: 0px auto;
            background-image: url('../../../assets/icons/equipment_slot_background.png');
            overflow: hidden;
            position: relative;
            border: none;

            .image {
                border: none;
                display: block;
                content: '';
                width: 100%;
                height: 100%;
                background-repeat: no-repeat;
                background-position: center center;
                transform: scale(1.5);
                background-color: transparent;
                cursor: pointer;
            }
        }
        
        

        .slash {
            div {
                margin: 0px auto;
                width: 3px;
                height: 100%;
                background-color: black;
                transform: rotate(45deg);
            }
        }
        img {
            height: 100%;
            width: auto;
        }
        .boosted {
            font-size: 30px;
            line-height: 35px;
        }
        input {
            max-width: 100%;
            color: #feff00;
            border-radius: 5px;
            background-color: rgba(226, 219, 200, 0.15);
        }
    }
}