
#spells-wrapper {
    position: relative;
    height: 100%;
}
.spells {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;

    .spell {
        width: 100%;
        height: 50px;
        margin: 0px auto;
        background-repeat: no-repeat;
        background-position: center center;
        cursor: pointer;
        background-color: transparent;
        border: none;
        outline-color: transparent;
        outline-width: 3px;
        outline-offset: 5px;
        outline-style: solid;
        // transition: outline-offset 0.2s, background-color 0.1s;
        transition: filter 200ms ease;
        filter: drop-shadow(10px 10px 0 transparent)
                drop-shadow(-10px 10px 0 transparent)
                drop-shadow(10px -10px 0 transparent)
                drop-shadow(-10px -10px 0 transparent);


        border-radius: 5px;

        &.active {
            // outline-color: white;
            // outline-offset: 0px;
            filter:drop-shadow(3px 0px 0 white) drop-shadow(-0px -3px 0 white);
            filter: drop-shadow(2px 2px 0 white)
                    drop-shadow(-2px 2px 0 white)
                    drop-shadow(2px -2px 0 white)
                    drop-shadow(-2px -2px 0 white);

        }
        &:hover {
            // background-color: rgba(0,0,0,0.2);
        }

    }
}
.spell-info {
    border: 2px solid #a79377;
    position: absolute;
    bottom: 0;
    padding: 10px;
    color: #f38a2f;
    width: 100%;
    background-color: rgba(0,0,0,0.9);

    &.top {
        bottom: unset !important;
        top: 0 !important;
    }

    .title, .base-max {
        width: 100%;
        text-align: center;
        font-size: 22px;
        text-shadow: 1px 1px 0px black;
    }
    .base-max {
        margin-bottom: 10px;
        font-size: 18px;
    }
    .runes {
        display: flex;
        justify-content: space-around;

        .entry {
            display: inline;

            .rune {
                width: 40px;
                height: 40px;
                background-size: contain;
                background-repeat: no-repeat;
                background-position: center top;
                position: relative;
            }

            .quantity {
                margin-top: 2px;
                font-size: 20px;
                display: block;
                width: 100%;
                text-align: center;
            }
        }
    }
    
}

@keyframes selectSpell {
    from {
        filter:drop-shadow(10px 10px 0 white) drop-shadow(-10px -10px 0 white);
    }
    to {
        filter:drop-shadow(2px 2px 0 white) drop-shadow(-2px -2px 0 white);
    }
}