<div class="equipment-bonuses">
    <div class="attack-bonus">
        <div class="bonus-title">Attack bonus</div>
        <div class="bonus stab">{{ equipmentService.bonuses.stab_attack }}</div>
        <div class="bonus slash">{{ equipmentService.bonuses.slash_attack }}</div>
        <div class="bonus crush">{{ equipmentService.bonuses.crush_attack }}</div>
        <div class="bonus magic">{{ equipmentService.bonuses.magic_attack }}</div>
        <div class="bonus ranged">{{ equipmentService.bonuses.ranged_attack }}</div>
    </div>
    <div class="defence-bonus">
        <div class="bonus-title">Defence bonus</div>
        <div class="bonus stab">{{ equipmentService.bonuses.stab_defence }}</div>
        <div class="bonus slash">{{ equipmentService.bonuses.slash_defence }}</div>
        <div class="bonus crush">{{ equipmentService.bonuses.crush_defence }}</div>
        <div class="bonus magic">{{ equipmentService.bonuses.magic_defence }}</div>
        <div class="bonus ranged">{{ equipmentService.bonuses.ranged_defence }}</div>
    </div>
    <div class="other-bonuses">
        <div class="bonus-title">Other bonuses</div>
        <div class="bonus melee_strength">{{ equipmentService.bonuses.melee_strength }}</div>
        <div class="bonus ranged_strength">{{ equipmentService.bonuses.ranged_strength }}</div>
        <div class="bonus magic_damage">{{ equipmentService.bonuses.magic_damage }}</div>
        <div class="bonus prayer">{{ equipmentService.bonuses.prayer_bonus }}</div>
    </div>
    <div class="target-specific">
        <div class="bonus-title">Target specific</div>
        <div class="bonus undead">{{ equipmentService.bonuses.undead_bonus }}</div>
        <div class="bonus slayer">{{ equipmentService.bonuses.slayer_bonus }}</div>
        <div class="bonus dragon">{{ equipmentService.bonuses.dragon_bonus }}</div>
        <div class="bonus demon">{{ equipmentService.bonuses.demon_bonus }}</div>
    </div>
</div>
