.results {
    width: 100%;
    height: 100%;
    background-image: linear-gradient(#756755, #5f5445);
    padding: 10px;
    text-align: center;

    border: 5px solid #a79377;
    box-shadow: inset 0 0 10px rgba(0,0,0,0.6);

    > div:nth-child(even) {
        font-family: 'Runescape UF';
        font-size: 22px;
        margin-bottom: 25px;
        color: #f38a2f;
        text-shadow: 1px 1px 0px black;
       
    }
    > div:nth-child(odd) {
        font-family: 'Runescape UF';
        color: #feff00;
        font-size: 30px;
        line-height: 20px;
        text-shadow: 1px 1px 0px black;
    }
}