<div class="wrapper">
    <div class="equipment">
        <div *ngFor="let type of objectKeys(equipmentService.gear)" [ngClass]="type">
            <button 
                id="{{type}}" 
                class="image" 
                (click)="openDropdown(type, $event)"
                [ngStyle]="{'background-image': 'url(../../../assets/items/' + equipmentService.gear[type].image + ')'}">
            </button>
        </div>
    </div>
</div>


<app-dropdown-selector
    [wrapperSelector]="'.modal .inner'"
    (itemClicked)="equip($event)">
</app-dropdown-selector>
