.equipment {
    /* max-width: 200px; */
    /* position: relative; */
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-gap: 10px;
    margin: 0px auto;
}
.equipment > * {
    width: 60px;
    height: 60px;
    background-size: cover;
    background-position: center center;
    margin: 0px auto;
    background-image: url('../../../../assets/icons/equipment_slot_background.png');
    overflow: hidden;
    position: relative;
    border: none;
    
}
.equipment > * .image {
    display: block;
    content: '';
    width: 100%;
    height: 100%;
    background-repeat: no-repeat;
    background-position: center center;
    transform: scale(1.5);
    background-color: transparent;
    cursor: pointer;
}
.head_slot { 
    grid-column: span 3;
}
.legs_slot { 
    grid-column: span 3;
}
